h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  color: inherit;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}

label {
  margin: 0;
}
