@font-face {
  font-family: 'abygaerregular';
  src: url('../font/abygaer_regular-webfont.woff2') format('woff2'),
    url('../font/abygaer_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
