:root {
  --bg-color: #fff6f5;
  --bg-black-color: #2f2b30;
  --text-color: #fff6f5;
  --text-black-color: #2f2b30;
  --accent-color: #ba1310;

  --modal-bg-color: #fff6f5;
  --modal-bg-input-color: rgba(186, 19, 16, 0.1);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-of-animation: 250ms;
}
